* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

#content {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content max-content;
  min-height: 100%;
}

#title-bar {
  grid-column-start: 1;
  grid-column-end: end;
  background-color: cornflowerblue;
  padding: 20px;
}
#side-bar {
  grid-row-end: last-line;
  grid-row-start: 2;
  background-color: azure;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#main {
  grid-column-start: 2;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: last-line;
  background-color: cadetblue;
}

.addButton {
  font-size: 3em;
  color: black;
  text-decoration: none;
  padding: 0px 20px;
  background-color: cornflowerblue;
  border: 3px solid cadetblue;
  border-radius: 20px/50px;
  text-align: center;
}
.addButton:hover {
  background-color: cadetblue;
  color: azure;
  border-color: cornflowerblue;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 10% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 450px;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
textarea {
  resize: none;
}

#optionsContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
